<div class = 'container mt-1'>
    <h1 class= "nav-title">PAIR CODING</h1>
    <p class = "descp">
        A live coding platform.
    </p>
    <p class = 'main-text'>


        Use it to practice codes along with your friends.

    <br>
    </p>
    <br>
    <div class="row container justify-content-center">
        <br>
        <br>
      <!--  <img class = "container" style="border-radius: 30px;" src="https://raw.githubusercontent.com/pawankholiya01/Live-Code-Collab/master/result2.gif">
      --><br >
        <br>
    </div>
    <br>
    <div class="row justify-content-center">
        {{#if user}}
        {{else}}
      <a href="/register" class=' m-1' >  <button class = " p-2 main-text gets m-auto btn btn-primary
         " > Login/Register </button>
        </a>
        {{/if}}
        <a href="/createTask" class='m-1 '> <button class=" p-2 main-text gets m-auto btn btn-primary
                     "> Get Started </button>
        </a>
    </div>

    <p class='main-text'>
        <h2></h2>
    <!--  <ul>
                <li>BuildIn Judge to test your code on inputs . </li>

                <li>Access all the collabs you ever created! . </li>


        </ul>
        </p>
        <div class = "main-text">
         <a href="">
            <div class="dim2"></div></a> <br>

         <div class="dim2">  </div>  <div class="dim2"></div><br>

                 <div class="dim2"> </div> <div class="dim2"></div>  <div class="dim2"></div>
                 <a href=" "></a>  <a href="">
                    <div class="dim2"></div> </a>I-->

        </div>






</div>
